.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
venv/
env/
.venv/
__pycache__/
*.py[cod]
*$py.class
include/data/
*.csv
*.json
*.parquet
*.duckdb
*.duckdb.wal
*.db
.astro/
logs/
.env
.env.*
.vscode/
.DS_Store
Thumbs.db